* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #fcfcfc;
}
.top-bar {
  overflow: hidden;

  position: fixed;
  top: 0;
  width: 100%;
}
.icons {
  padding: 8px;

  color: #006a4e;
}
.delivery {
  padding: 8px;
  color: #006a4e;
}
.logo {
  width: 127px;
  height: 55px;
  padding-left: 20px;
}
.cart {
  border: 1px solid #006a4e;
  background-color: #006a4e;
}
.cart-inner {
}
.line {
  width: 100px;
}

.topnav {
  display: flex;
  justify-content: space-between;

  background-color: #ffffff;
  overflow: hidden;

  border-bottom: 2px solid green;
}

.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 6px 16px;
  text-decoration: none;
  font-size: 17px;
}
.banner-image {
  width: 100%;
  height: 350px;
}
.top-banner {
  margin: 10px 280px;
}
.preorder {
  background-color: #f1f1f1;
  padding: 20px;
  border-left: 5px solid #44bd32;
}

/* The sidebar menu */
.sidenav {
  height: 100%;
  width: 220px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;

  margin-top: 62px;
  border-right: 1px solid #b6b6b6;
}
.sidebar-img {
  width: 30px;
  height: 30px;
  padding-right: 7px;
}
.sidebar-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow {
  position: relative;
  margin-top: 5px;
  margin-right: -29px;
  width: 40px;
  height: 30px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: green;
  display: block;
}

.explore {
  background-color: #f4f4f4;
  padding: 15px;
}

.sidenav a:hover {
}
article {
  margin-left: 150px;
}
.card {
  width: 350px;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: #818181;
  background-color: #ffffff;
}
.card-text {
  text-align: center;
}

.product {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}
.product-card {
  border: 1px solid white;
  background-color: #ffffff;
  box-shadow: 5px #ffffff;
}
.product-text {
  text-align: center;
}
.product-image {
  padding: 60px;
  width: 50%;
}
.product-image:hover {
}
.product-button {
  display: flex;
  justify-content: center;
}
.fast {
  width: 30px;
  height: 25px;
}
.delivery {
  display: flex;
  justify-content: space-between;
}
.card-button {
  display: flex;
  justify-content: center;
  padding: 8px 0;
  width: 100%;
  background-color: #006a4e;
  color: #fff;
  border-radius: 4px 4px 4px 4px;
}
.tooltip {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.tooltip-text {
  background-color: #44bd32;
  padding: 5px;
  color: #ffffff;
  border-radius: 5px;
}
.categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}
footer {
  margin-top: 30px;
  padding: 30px;
  background-color: #f0f0f0;
}
.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  padding: 50px;
}
.social {
  display: flex;
  justify-content: space-evenly;
}
.ssl {
  width: 100%;
}
.footer-link {
  display: block;
  text-decoration: none;
  color: #000000;
  padding: 4px;
}
.contact {
  padding: 4px;
}
/* Style page content */

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
